:root {
  --primary-color: #f6f6f6;
  --secondary-color: #1b4183;
  --accent-color: #dddddd;
  --success-color: #28a745;
  --call-to-action: #c2d2ec;
  --active-color: #eeeff3;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #fcfcfc;

  --primary-text-color: #242424;

  --font-family: "Roboto", sans-serif;
  --font-size: 1rem;

  --border-radius: 0.25em;
  --border-width: 0.11em;

  --box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.2);

  --img-dimentions: calc(6.25em + 5vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
body::after,
body::before {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  max-width: 100vw;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1em;
  margin: 1em;
  width: 90%;
}

.profile-header {
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.profile-content {
  display: contents;
}

.toggle-theme {
  border-radius: 20em;
  padding: 1em 1.5em;
  background-color: var(--call-to-action);
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
}

.toggle-theme:hover {
  background-color: var(--active-color);
}

.toggle-theme:active {
  color: var(--warning-color);
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  width: var(--img-dimentions);
  height: var(--img-dimentions);
  cursor: pointer;
}

.profile-picture:hover {
  transform: scale(1.05);
}

.profile-picture:hover img {
  padding: 0.1em;
}

.profile-picture img {
  width: var(--img-dimentions);
  height: var(--img-dimentions);
  border-radius: 50%;
  margin: 1em;
  border: calc(var(--border-width) * 1.1) solid var(--secondary-color);
}

.skills ul,
.hobbies ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5em;
  flex-wrap: wrap;
}

.list-content {
  background-color: var(--call-to-action);
  padding: 0.5em 1em;
  border-radius: 20em;
  cursor: default;
}

.list-content:hover {
  background-color: var(--active-color);
  padding: 0.5em 1em;
  border-radius: 20em;
}

.contact-form,
.segment-input {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.contact-form:has(input[required]) label::after,
.segment-input:has(input) label::after {
  content: "*";
  color: var(--danger-color);
  padding-left: 1%;
  vertical-align: -25%;
}

.contact-form input[type="email"],
.contact-form textarea,
.segment-input input {
  width: 100%;
  padding: 1em 1em;
  font-size: calc(var(--font-size) * 0.95);
  border: var(--border-width) solid var(--accent-color);
  border-radius: 0.5em;
}

.contact-form input[type="email"]:focus,
.contact-form textarea:focus,
.segment-input input:focus {
  outline: none;
  border: var(--border-width) solid var(--secondary-color);
  color: var(--primary-text-color);
  caret-color: var(--secondary-color);
}

.contact-form textarea {
  resize: none;
  height: 10em;
  overflow-y: auto;
}

.action-button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
}

.action-button:hover {
  background-color: var(--active-color);
  color: var(--primary-text-color);
}

.action-button:active {
  color: var(--warning-color);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.error {
  margin: 0;
  font-size: calc(var(--font-size) * 0.75);
  color: var(--danger-color);
}

@media screen and (max-width: 480px) {
  .skills ul,
  .hobbies ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .list-content {
    width: 100%;
    text-align: center;
  }
}
