:root {
    --primary-color: #f8f8f8;
    --secondary-color: #0d4ab3;
    --accent-color: #c4c4c4;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;

    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;

    --border-radius: 0.25em;
    --border-width: .11em;
    
    --box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
body::after,
body::before {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: calc(var(--font-size) * .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    min-height: 100vh;
    max-width: 100vw;
}

.content-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-content {
    display: contents
}

.content-card {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1em;
    margin: 1em;
    width: 90%;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: calc(6.25em + 5vw);
    height: calc(6.25em + 5vw);
    border-radius: 50%;
    margin: 1em;
    border: calc(var(--border-width) * 1.1) solid var(--secondary-color);
}

